html,
body,
h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  background: #233142;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1;
}

.activity_title {
  font-size: 1rem;
  font-weight: bold;
}

.nav-container {
  display: flex;
  justify-content: space-around;
}

.nav-container2 {
  display: flex;
  align-items: center;
}

.activity_list_container {
  height: 500px;
  overflow-y: scroll;
}

.activity_list_link {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  margin: 0.3rem 0.5rem;
  border: solid 2px #125a38;
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
  background-color: #125a38;
}

.activity_card_container {
  width: 75%;
  border: solid 2px #24be76;
  border-radius: 4px;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
}
.activity_card_link {
  text-decoration: none;
}
